{% extends 'login.html' %}
{% load static %}

{% block 'title' %} Reset password {% endblock %}

  {% block 'maindata' %}

<div class="container my-5">
    <!-- <h2 class="text-center mt-4">User Profile of {{ request.user | upper }}</h2>     -->
  <div class="row mt-2">
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="/buyer/profile" class="btn btn-primary btn btn-block">Profile</a></li>
        </ul>
    </div>
    <div class="col-sm-6 offset-sm-1">
        <h3>Reset password </h3>
        <hr>
        <form method="post" class="shadow-sm p-5">
            {% csrf_token %}
            {% for fm in form %}
            <div class="form-group">
                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
            </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary mt-4" value="Save">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_error %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                    {% endfor %}
                {% endif %}
        </form>
    </div>
  </div>
</div>
{% endblock %}
