{% extends 'profile.html' %}

{% load static %}

{% block 'title' %} Address {% endblock %}

{% block 'maindata' %}
<div class="container">
    <h2 class="text-center mt-4">User Profile of {{ request.user | upper }}</h2>    
  <div class="row">
    <div class="col-4">
        <div class="mb-8">
            <a class="" href="/buyer/profile/"><button class="btn btn-light btn-block">Profile</button></a>
            <a class="" href="/buyer/address/"><button class="btn {{active}} btn-block">
            Address</button></a>
            <button class="btn btn-info btn-block">You Can Add Multiple Addresses</button>
        </div><br>
    </div>
    <div class="col-4" >
      <form method="POST" class="mt-3" novalidate>
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
              
        {% endfor %}
        <div class="mt-3">
      <input type="submit" class="btn btn-primary btn-block">
      </div>
      </form>
<!--       {% if messages %}

            {% for messages in messages %}
            <p {% if messages.tag %} class="alert alert-{{messages.tags}} mb-5" {% endif %}>{{messages}}</p>
            {% endfor %}

      {% endif %} -->
    </div>

    <div class="col-4">
        <div class="overflow-auto">
                {% for i in uAobj %}
        <div class="card">
            <div class="card-body">
                <h3>Address {{forloop.counter}}</h3>
                <p>User Name: {{ request.user}} </p>
                <p>Line 1 : {{i.add_line1}}</p>
                <p>Line 2 : {{i.add_line2}}</p>
                <p>City : {{i.city}}</p>
                <p>Area : {{i.area}}</p>
                <p>Pincode : {{i.pincode}}</p>
                <p>State : {{i.state}}</p>
            </div>   
        </div><br>
        {% endfor %}
        </div>

    </div>
  </div>
</div>
{% endblock %}