{% extends 'welcomebuyer.html' %}

{% load static %}

{% block 'title' %} Cartfilter{% endblock %}

<!-- {% block 'extralink' %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}  -->




{% block 'maindata' %}

<!-- {% if messages %}
    {% for m in messages %}
    <script type="text/javascript"> alert("{{ m }}")</script>
    {% endfor %}
{% endif %} -->


    <div class="row" style="margin: 40px 20px;">

        {% for i in pObjs %}
            <div class="col-2">
                  <div class="card overflow-auto" style="height: 200px;">
                    <a href="{% url 'buyer:product-detail' id=i.id %}"><img class="card-img-top" style="height: 100%;" src="{{ i.pro_img.url }} ">
                  </div>
                    <div class="card-body">
                        <h4 class="card-title">
                        <a href="#">{{ i.name }}</a>
                        </h4>
                        <h5>{{ i.price }}</h5>
                        <p class="card-text">{{ i.desc }}</p>
                    </div></a>
                    <div class="card-footer">
                        <a class="btn btn-info" href="{% url 'buyer:add_cart' id=i.id %}">Add to Cart</a>
                    </div>
                    <a href="{% url 'buyer:product-detail' id=i.id %}"><button class="btn btn-primary btn-block">Details of Product</button></a>
            </div>
              {% endfor %}
    </div>
{% endblock %}