{% extends 'profile.html' %}

{% load static %}

{% block 'title' %} Change Password Done {% endblock %}

{% block 'maindata' %}
<div class="container my-5">
    <h2 class="text-center mt-4">User Profile of {{ request.user | upper }}</h2>    
  <div class="row mt-2">
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid"><a href="/buyer/profile" class="btn btn-primary btn btn-block">Profile</a></li>
        </ul>
    </div>
    <div class="col-sm-6 offset-sm-1">
        <h3>Password Changed Successfully</h3>
    </div>
   </div>
 </div>   



{% endblock %}        