{% extends 'index.html' %}
{% load static %}

{% block 'title' %} Reset & Forget {% endblock %}

          {% block 'navOption' %}
            </li>
        <li class="nav-item">
          <a class="nav-link" href="/buyer/cartdetails/">Cart<sup>{{ count }}</sup></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buyer/myorder/">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout/">Logout</a>
        </li>
          {% endblock %}

  {% block 'maindata' %}

	<div class="row">
    <div class="col-5"></div>
    <div class="col-3">
        <form method="POST" style="margin-top: 30px;">
            {% csrf_token %}
<!--             <div class="form-row">
                <input type="number" name="code">
            </div> -->
            <div class="form-row">
                <div class="col">
                    <div class = "input-group">
                    <input type="password" class="form-control" id="pass" placeholder="Password" required>
                    <div class = "input-group-prepend">
                        <span class="input-group-text" onclick="see()" style="height: 45px;"><i class="fa fa-eye-slash" id = "eye" aria-hidden="true"></i></span>
                    </div>
                </div>
                </div>
            </div></br>
            <div class="form-row">
                <div class="col">
                    <div class = "input-group">
                    <input type="password" class="form-control" id="pass1" name="password" placeholder="Confirm Password" required>
                
                <div class = "input-group-prepend">
                    <span class="input-group-text" onclick="see1()" style="height: 45px;"><i class="fa fa-eye-slash" id="eye1" aria-hidden="true"></i></span>
                </div>
                </div>
            </div>
            </div></br>
            <div class="form-row">
                <div class="col">
                    <button type="submit" class="btn btn-success btn-block" onclick="valida()">Reset</button>
                </div>
            </div></br>
        </form>
    </div>
</div>
<script>
    function valida(){
            var pw = document.getElementById("pass").value;
            var pw1 = document.getElementById("pass1").value;
            if (pw != pw1){
                alert("password did not match");
            }
        }
    function see(){
            var pw = document.getElementById("pass");
            if(pw.type === "password"){
                    pw.type = "text";
                    document.getElementById("eye").className="fa fa-eye"
            }
            else{
                    pw.type = "password";
                    document.getElementById("eye").className="fa fa-eye-slash"
            }
        }
        function see1(){
            var pw1 = document.getElementById("pass1");
            if(pw1.type === "password"){
                    pw1.type = "text";
                    document.getElementById("eye1").className="fa fa-eye"
            }
            else{
                    pw1.type = "password";
                    document.getElementById("eye").className="fa fa-eye-slash"
            }
        }
    </script>

{% endblock %}    

</body>
</html>