{% extends 'index.html' %}
{% load static %}

    {% block 'extralink' %}

      <link rel="stylesheet" type="text/css" href="{% static 'css/buyer.css' %}">

    {% endblock %}



    {% block 'username' %}
      {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="/buyer/profile/">Welcome {{ request.user | upper }}</a>
      {% else %}
        <p>.</p> 
      {% endif %}  
    {% endblock %}

              {% block 'homeurl' %}/buyer/home/{% endblock %}

    {% block 'home' %}<a class="nav-link" 

      {% if request.user.is_authenticated %}

        href="/buyer/home/"

      {% else %}
        href="/"
      {% endif %}

        >Home</a> {% endblock %}


    {% block 'navOption' %}
      {% if request.user.is_authenticated %}
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buyer/profile/">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buyer/cartdetails/">Cart<sup>{{ count }}</sup></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buyer/orders/">Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout/">Logout</a>
        </li>

      {% else %}

        <li class="nav-item">
          <a class="nav-link" href="/login/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup/">Signup</a>
        </li>
      {% endif %}
    {% endblock %}




{% block 'message' %}

  {% for message in messages %}


    <div id="alert"  class="alert alert-success" style="font-size: 20px">
              {{ message }}
    </div>

  {% endfor %}
{% endblock %}





{% block 'maindata' %}  

<div class="container-fluid mt-3">
<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Categories For Shop</a>
    </div>
    <ul class="collapse navbar-collapse " style="list-style-type: none;">
                {% for i in cObjs %}
      <li class="nav-item ml-auto pt-2 mt-2 "><a class="li_style" href="{% url 'buyer:catfilter' id=i.id %}">{{ i.catName }}</a></li>
                {% endfor %}
    </ul>
  </div>
</nav>
</div>



<div class="container-fluid mt-3">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="img_size" src="{% static 'images/banner/b6.jpg' %}" class="d-block w-100" alt="..."> 
      </div>
      <div class="carousel-item">
        <img class="img_size" src="{% static 'images/banner/b2.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img class="img_size" src="{% static 'images/banner/b3.jpg' %}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img class="img_size" src="{% static 'images/banner/b5.jpg' %}" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>  
</div>

<div class="m-3">
 <h2>ShoppingKaro Deals of The Day</h2>
 <!-- Slider 1 -->  
 <div class="owl-carousel" id="slider1">
  {% for i in pObjs %}
  <a href="{% url 'buyer:product-detail' id=i.id %}" class="btn bg-light"><div class="item"><img src="{{ i.pro_img.url }}" alt="" height="200px"><span class="fw-bold">{{ i.name }}</span><br><span class="fs-5">{{ i.discounted_price }}</span></div></a>
  {% endfor %}
 </div>        
</div>



<!-- Payment Info Section -->
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
     <img src="{% static 'images/payavail/cc.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'images/payavail/upi.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'images/payavail/nb.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
  <div class="col-sm-3">
   <div class="card mb-3">
     <div class="card-body">
      <img src="{% static 'images/payavail/bj.jpg' %}" alt="" srcset="" class="img-fluid">
     </div>
   </div>
  </div>
 </div>
</div>
<!-- End Payment Info Section -->


<div class="m-3">
 <h2>ShoppingKaro Deals of The Day</h2>
 <!-- Slider 1 -->  
 <div class="owl-carousel" id="slider1">
  {% for i in pObjs %}
  <a href="{% url 'buyer:product-detail' id=i.id %}" class="btn bg-light"><div class="item"><img src="{{ i.pro_img.url }}" alt="" height="200px"><span class="fw-bold">{{ i.name }}</span><br><span class="fs-5">{{ i.discounted_price }}</span></div></a>
  {% endfor %}
 </div>        
</div>


  {% endblock %}
